@import url(../libs/magnific-popup/dist/magnific-popup.css);
@import url(../libs/lightslider/dist/css/lightslider.min.css);
body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  font-family: RobotoCondensed-Regular;
  overflow-x: hidden;
  background-color: #fff; }

a, button, input, textarea {
  text-decoration: none;
  outline: 0;
  border: 0;
  -webkit-transition: color 0.4s ease, background-color 0.4s ease, border-color 0.4s ease;
  transition: color 0.4s ease, background-color 0.4s ease, border-color 0.4s ease; }
  a:focus, button:focus, input:focus, textarea:focus {
    outline: 0;
    border: 0; }

a:focus {
  text-decoration: none; }

a:active {
  text-decoration: none; }

button:hover {
  cursor: pointer; }

.inner {
  max-width: 1200px;
  margin: 0 auto;
  position: relative; }

.hidden {
  display: none; }

header {
  background-image: url("../img/bg-head.jpg");
  background-position: center top;
  background-size: cover;
  position: relative;
  z-index: 69; }

.top-line {
  padding-bottom: 25px; }

.logo {
  padding-top: 28px; }
  .logo * {
    display: inline-block;
    vertical-align: middle; }
  .logo img {
    margin-right: 5px; }
  .logo a {
    display: block;
    color: #fff;
    font-size: 25.41px; }
    .logo a:hover {
      text-decoration: none; }

.social {
  padding-top: 40px; }
  .social p {
    display: inline-block;
    color: #fff; }
  .social ul {
    display: inline-block; }
    .social ul li {
      float: left; }
      .social ul li:last-child a {
        margin-right: 0; }
      .social ul li a {
        display: block;
        width: 24px;
        height: 24px;
        -webkit-border-radius: 120px;
        border-radius: 120px;
        background-color: #a59b8c;
        margin: 0 7px; }
  .social * {
    vertical-align: middle; }

.contacts {
  text-align: right;
  color: #fff;
  padding-top: 29px; }
  .contacts p {
    font-size: 18px;
    line-height: 18px; }
  .contacts .call-back {
    padding-top: 10px; }
    .contacts .call-back * {
      display: inline-block;
      vertical-align: middle; }
    .contacts .call-back a {
      color: #ccc9c6;
      font-size: 14px;
      text-decoration: underline;
      padding-right: 21px; }
      .contacts .call-back a:hover {
        text-decoration: none; }
    .contacts .call-back h3 {
      color: #2a98ff;
      font-size: 24px;
      line-height: 24px; }

.head-menu-c {
  background-color: rgba(55, 37, 13, 0.7); }

.head-menu ul li {
  float: left; }
  .head-menu ul li:first-child a {
    padding-left: 0; }
  .head-menu ul li:last-child a {
    padding-right: 0; }
  .head-menu ul li .active {
    color: #339afc;
    text-decoration: none; }
  .head-menu ul li a {
    display: block;
    color: #fff;
    font-size: 20px;
    padding: 16px 37px; }
    .head-menu ul li a:hover {
      color: #339afc;
      text-decoration: none; }

.info-head {
  padding-top: 63px; }
  .info-head h3 {
    color: #2a98ff;
    font-size: 24px; }
  .info-head h1 {
    color: #fff;
    font-size: 60px;
    line-height: 60px; }
  .info-head p {
    color: #c6c5c3;
    font-size: 18px;
    margin-bottom: 52px; }

.all-form * {
  display: inline-block;
  vertical-align: top; }

.all-form input {
  border: 2px solid #fff;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  width: 305px;
  height: 56px;
  padding-left: 55px;
  position: relative;
  background-position: 21px 15px;
  background-repeat: no-repeat;
  margin-right: 20px; }
  .all-form input::-webkit-input-placeholder {
    color: #fff;
    font-size: 18px; }
  .all-form input::-moz-placeholder {
    color: #fff;
    font-size: 18px; }
  .all-form input:-moz-placeholder {
    color: #fff;
    font-size: 18px; }
  .all-form input:-ms-input-placeholder {
    color: #fff;
    font-size: 18px; }

.all-form button {
  width: 305px;
  height: 56px;
  background-color: #318de6;
  color: #fff;
  font-size: 24px;
  position: relative;
  padding-left: 29px;
  text-align: left; }
  .all-form button:hover {
    background-color: #1667b5; }
  .all-form button:after {
    position: absolute;
    content: '';
    right: 30px;
    top: 22px;
    background-image: url("../img/right-arrow.png");
    background-repeat: no-repeat;
    width: 9px;
    height: 15px; }

.services {
  margin-top: 74px;
  padding-bottom: 137px; }
  .services li {
    padding-left: 18px;
    float: left;
    width: 170px;
    min-height: 120px;
    margin: 0 15px;
    position: relative;
    background-color: #111111;
    padding-top: 24px; }
    .services li:first-child {
      margin-left: 0; }
    .services li:last-child {
      margin-right: 0; }
    .services li h2 {
      font-size: 18px;
      line-height: 20px;
      color: #fff;
      font-family: RobotoCondensed-Bold;
      text-transform: uppercase; }
    .services li a {
      display: block;
      position: absolute;
      bottom: 22px;
      font-size: 14px;
      color: #f2a002;
      text-decoration: underline; }
    .services li span {
      text-transform: none;
      font-size: 12px; }

.toggle_mnu {
  width: 60px;
  height: 60px;
  position: relative;
  background-color: transparent;
  z-index: 100;
  border: none; }

.toggle_mnu span {
  display: block; }

.sandwich {
  width: 30px;
  height: 28px;
  position: absolute;
  top: 8px;
  bottom: 0;
  left: 0px;
  right: 0;
  margin: auto;
  z-index: 200; }

.sw-topper {
  position: relative;
  top: 4px;
  width: 30px;
  height: 4px;
  background: #fff;
  border: none;
  -webkit-transition: -webkit-transform 0.5s, top 0.2s;
  -webkit-transition: top 0.2s, -webkit-transform 0.5s;
  transition: top 0.2s, -webkit-transform 0.5s;
  transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
  display: block; }

.sw-bottom {
  position: relative;
  width: 30px;
  height: 4px;
  top: 6.6px;
  background: #fff;
  border: none;
  -webkit-transition: -webkit-transform 0.5s, top 0.2s;
  -webkit-transition: top 0.2s, -webkit-transform 0.5s;
  transition: top 0.2s, -webkit-transform 0.5s;
  transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
  -webkit-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s; }

.sw-footer {
  position: relative;
  width: 30px;
  height: 4px;
  top: 10px;
  background: #fff;
  border: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s; }

.sandwich.active {
  position: relative;
  top: 0;
  left: 0px; }

.sandwich.active .sw-topper {
  width: 25px;
  height: 5px;
  background-color: #fff;
  top: 10px;
  left: 0px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.sandwich.active .sw-bottom {
  width: 25px;
  height: 5px;
  background-color: #fff;
  top: 5px;
  left: 0px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.top_mnu {
  position: absolute;
  width: 100%;
  background-color: black;
  z-index: 70;
  left: 0;
  top: 61px;
  display: none; }

.top_mnu ul,
.top_mnu li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 5px; }

.top_mnu ul {
  margin-top: 10px;
  text-align: left;
  padding: 20px 0;
  -webkit-animation-duration: 0.01s;
  animation-duration: 0.01s; }

.top_mnu ul li:nth-child(1) a {
  -webkit-animation-delay: 0;
  animation-delay: 0; }

.top_mnu ul li:nth-child(2) a {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }

.top_mnu ul li:nth-child(3) a {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.top_mnu ul li:nth-child(4) a {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.top_mnu ul a {
  color: #fff;
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  position: relative;
  padding-top: 5px;
  height: 26px;
  text-align: center;
  outline: none; }
  .top_mnu ul a:hover {
    background-color: #0b98cd;
    color: #fff;
    text-decoration: none; }
  .top_mnu ul a:focus {
    text-decoration: none; }

.top_mnu ul a span {
  display: block;
  position: relative;
  top: -40px;
  left: 0;
  height: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.top_mnu ul a span:hover {
  background-color: rgba(255, 255, 255, 0.08); }
